.products__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 150px;
}
.products__title {
  text-align: left;
  margin-bottom: 40px;
}
.products__buttons {
  display: flex;
  justify-content: space-between;
}
.products__buttons .products__buttons-select {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.btn__select {
  font-family: "Europe", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #c4c4c4;
  transition: all 0.2s linear;
  background-color: #fff;
}
.btn__select.active {
  background-color: #154889;
  padding: 16px 58px;
  border-radius: 30px;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.btn__select:hover {
  color: #ffad00;
}
.btn__select.active:hover {
  background-color: #ffad00;
  color: #fff;
}
html.dark .btn__select{
  background-color: #303030;
}
html.dark .btn__select.active {
  background-color: #154889;
}
.products__buttons-slider {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.products__buttons-slider button {
  display: flex;
  justify-content: center;
  gap: 14px;
  background-color: #fff;
}
.products__buttons-slider--mobile{
  display: none;
}
.products__slider-wrapper {
  font-family: "Europe", sans-serif;
  position: relative;
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
}
.products__item {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.products__slider-img {
  border-radius: 10px;
  transition: all 0.5s linear;
}
.products__slider-under-text {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.products__slider-name-text {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
}
.products__slider-price-text {
  font-family: "EuropeDemi", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2rem;
}
.slider__item-btn {
  position: absolute;
  max-width: max-content;
  left: 50%;
  bottom: 110px;
  transform: translate(-50%, calc(100% + 180px));
  transition: transform 0.5s linear;
}
.products__catalog-btn {
  max-width: 380px;
  margin: 0px auto;
  padding: 18px 75px;
}
.products__item {
  cursor: pointer;
}
.products__item:hover .products__slider-img {
  filter: brightness(60%);
}
.products__item:hover .slider__item-btn {
  transform: translate(-50%, calc(100% + 5px));
}
@media (max-width: 1020px) {
  .btn__select{
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
@media (max-width: 1020px) {
  .btn__select{
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
@media (max-width: 1020px) {
.products__buttons .products__buttons-select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
}
@media (max-width: 790px) {
.products__buttons-slider{
 display: none;
}
.products__buttons-slider--mobile{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.products__buttons .products__buttons-select {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.btn__select.active {
  padding: 0.7em 2em;
}
}
@media (max-width: 690px) {
.products__buttons .products__buttons-select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
}
@media (max-width: 410px) {
.products__slider-name-text {
  font-size: 1rem;
  line-height: 1rem;
}
.products__slider-price-text {
  font-size: 1rem;
  line-height: 1rem;
}
}
@media (max-width: 370px) {
.products__buttons .products__buttons-select {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
.products__slider-name-text {
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.products__slider-price-text {
  font-size: 0.8rem;
  line-height: 0.8rem;
}
}