.main {
  background-color: #f4f4f4;
}
html.dark .main ,html.dark .slider__btn{
  background-color: #303030;
}
.main__btn {
  padding: 18px 85px 19px 84px;
}
.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 175px 0 100px 0;
}
.main__text {
  max-width: 60vw;
  margin: 40px 0;
}
.main__content-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.buttons__slider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -30px;
  gap: 20px;
}

.main__download-link {
  width: 60px;
  height: 60px;
  background-color: #154889;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 25px;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__download-link svg:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}
.main__download-link svg:nth-child(2) {
  position: absolute;
  width: 10vw;
  height: 20vh;
  animation-name: rotation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main__download-link svg:nth-child(2) path,
.main__download-link svg:first-child circle {
  transition: all 0.2s linear;
}
.main__download-link:hover,
.main__download-link svg:nth-child(2):hover path {
  background-color: #ffad00;
  fill: #ffad00;
}
.main__download-link:hover svg:first-child circle {
  fill: #ffff;
}
@media (max-width: 1620px) {
  .slider__item-img{
    max-width: 40vw;
  }
}
@media (max-width: 1530px) {
  .slider__item-img{
    max-width: 35vw;
  }
.buttons__slider {
  bottom: -40px;
}
.main__text {
  max-width: 40vw;
  margin: 40px 0;
}
.main__btn {
  padding: 1em 5em 1.2em 5em;
}
}
@media (max-width: 1024px) {
.main__download-link {
  width: 40px;
  height: 40px;
}
.buttons__slider {
  bottom: -50px;
}
  .slider__item-img{
    max-width: 50vw;
  }
}
@media (max-width: 790px) {
.main__wrapper{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__btn {
  padding: 1em 3em 1em 3em;
}
.main__download-link {
  width: 60px;
  height: 60px;
  top: 40px;
  right: 45px;
}
.main__download-link svg:first-child {
  width: 60%;
  height: 60%;
}
.main__download-link svg:nth-child(2) {
  width: 20vw;
  height: 30vh;
}
.main__content-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.main__text{
  text-align: center;
  max-width: 80vw;
}
}
@media (max-width: 620px) {
  .slider__item-img{
    max-width: 70vw;
  }
}
@media (max-width: 480px) {
.main__download-link svg:nth-child(2) {
  width: 30vw;
  height: 40vh;
}
  .slider__item-img{
    max-width: 90vw;
  }
}
@media (max-width: 310px){
  .main__download-link svg:nth-child(2) {
  width: 40vw;
  height: 50vh;
}
}