.univers {
  background-color: #f4f4f4;
  position: relative;
  padding-top: 57px;
}
html.dark .univers{
  background-color: #303030;
}
.univers__wrapper {
  display: flex;
  flex-direction: column;
}
.univers__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
  margin-bottom: 30px;
}
.univers__subtitle {
  font-size: 19px;
  line-height: 26px;
}
.univers__columns {
  margin: 90px 0;
  display: flex;
  justify-content: center;
  gap: 252px;
  align-items: center;
  font-family: "EuropeDemi", arial;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
}
.univers__column {
  position: relative;
  padding: 0 0 73px 68px;
}
.univers__column::before {
  content: "";
  position: absolute;
  bottom: 33px;
  left: 20px;
  width: 6px;
  height: 6px;
  background-color: #154889;
  border-radius: 50%;
}
.univers__column-2 {
  margin-top: 22px;
}
.univers__img-1 {
  padding-top: 38px;
  position: relative;
  z-index: 3;
}
.univers__img-2 {
  padding-top: 38px;
  position: relative;
  z-index: 3;
}
.univers__column-1::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -60px;
  bottom: 60px;
  left: 20px;
  background: url("../../../public/image/univers-bg-1.png") no-repeat 70% 70%;
  background-size: 90% 90%;
  z-index: 1;
}
.univers__column-2::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -60px;
  bottom: 60px;
  left: 0;
  background: url("../../../public/image/univers-bg-2.png") no-repeat 70% 70%;
  background-size: 90% 90%;
  z-index: 1;
}
.left-text {
  position: absolute;
  transform: rotate(-90deg);
  left: -140px;
  bottom: 200px;
}
.bottom-text {
  position: absolute;
  left: 80px;
  bottom: 0;
}
.left-text::before {
  content: "";
  position: absolute;
  bottom: -23px;
  right: calc(85% + 30px);
  left: 0;
  height: 3px;
  background-color: #ffad00;
  border-radius: 1px;
  transition: right 0.7s 1s linear;
  transition-delay: 1s;
}
.bottom-text::before {
  content: "";
  position: absolute;
  right: calc(85% + 30px);
  left: 0;
  bottom: 33px;
  height: 3px;
  background-color: #ffad00;
  border-radius: 1px;
  transition: right 0.7s 1s linear;
  transition-delay: 1s;
}
.univers__column-1.view .left-text::before,
.univers__column-2.view .left-text::before {
  right: calc(10% - 105px);
}
.univers__column-1.view .bottom-text::before,
.univers__column-2.view .bottom-text::before {
  right: calc(10% - 105px);
}
.univers__column img {
  transition: transform 0.5s linear;
}
.univers__column:hover img {
  transform: scale(1.1);
}
