
.map__wrap{
    min-width: 100vw;
    min-height: 50vh;
    position: relative;
}
.map__wrap.active .map__img {
    display: none;
}
.map__img{
    object-fit: cover;
    width: 100%;
    max-height: 50vh;
    cursor: pointer;
}
.map__consultation{
    position: absolute;
    left: 0;
    top: 25%;
    max-width: 50vw;
    max-height: 30vh;
    font-family: "Europe";
    font-size: 1.1rem;
    line-height: 1.1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f4;
    z-index: 6;
    padding: 2em;
    border-radius: 0 10px 10px 0;
}
html.dark .map__consultation{
    background-color: #303030;
}
.map__title{
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.map__form{
    display: flex;
    margin: 1em 0;
}
.contacts__btn-text{
    font-size: 1rem;
}
.map__text-pdn{
    font-size: 0.8rem;
    line-height: 1rem;
    color: #c4c4c4;
}
@media (max-width: 1100px) {
    .map__form{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .map__consultation{
    font-size: 0.9rem;
    line-height: 0.9rem;
}
.map__title{
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.contacts__btn-text{
    font-size: 0.9rem;
}
.map__text-pdn{
    font-size: 0.7rem;
    line-height: 0.8rem;
    color: #c4c4c4;
}
.map__btn{
    margin-top: 1em;
}
}
@media (max-width: 800px) {
    .map__consultation{
    padding: 2em;
    top: 2%;
    max-height: 50vh;
}
.map__form .popup__form-input{
    max-width: 30vw;
    font-size: 0.8rem;
    align-items: start;
}
}
@media (max-width: 590px) {
.map__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.map__consultation{
    position: relative;
    font-size: 1.1rem;
    line-height: 1.1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f4;
    z-index: 6;
    padding: 2em;
    border-radius: 0 10px 10px 0;
    max-width: 100vw;
    max-height: 50vh;
}
.map__form .popup__form-input{
    max-width: 50vw;
    font-size: 0.8rem;
    align-items: start;
}
}

